@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #899BBD;
  }
}

@layer components {
  /* Big Calendar Styles */
  .rbc-btn-group:first-child {
    display: none;
  }

  .rbc-toolbar-label {
    text-align: right;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .rbc-btn-group:last-child {
    font-size: 0.875rem;
  }

  .rbc-btn-group:last-child button {
    border: none;
    background-color: theme('colors.sasLightGray');
    margin-left: 0.125rem;
  }

  .rbc-toolbar button.rbc-active {
    background-color: theme('colors.sasBlue');
    color: white;
    box-shadow: none;
  }

  .rbc-time-view {
    border-color: theme('colors.sasLightGray');
  }

  .rbc-time-header {
    display: none;
  }

  .rbc-time-content {
    border: none;
  }

  .rbc-time-gutter.rbc-time-column {
    font-size: 0.75rem;
  }

  .rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .rbc-timeslot-group {
    background-color: theme('colors.sasLightGray');
  }

  .rbc-day-slot {
    font-size: 0.875rem;
  }

  .rbc-event {
    border: none;
    color: theme('colors.gray.800');
    padding: 0.625rem;
    margin: 0.625rem;
    width: 99%;
  }

  .rbc-event:nth-child(odd) {
    background-color: theme('colors.sasSkyLight');
    color: white;
  }

  .rbc-event:nth-child(even) {
    background-color: theme('colors.sasLightGray');
  }

  .rbc-event-label {
    color: theme('colors.gray.600');
    margin-bottom: 0.25rem;
  }
}

@layer utilities {
  .bg-primary {
    background-color: theme('colors.sasBlue');
  }

  .bg-primary-light {
    background-color: theme('colors.sasSkyLight');
  }

  .bg-primary-dark {
    background-color: theme('colors.sasBlue');
  }

  .text-primary {
    color: theme('colors.sasBlue');
  }

  .text-primary-light {
    color: theme('colors.sasSkyLight');
  }

  .text-primary-dark {
    color: theme('colors.sasBlue');
  }

  .hover\:bg-primary:hover {
    background-color: theme('colors.sasBlue');
  }

  .hover\:bg-primary-light:hover {
    background-color: theme('colors.sasSkyLight');
  }

  .hover\:bg-primary-dark:hover {
    background-color: theme('colors.sasBlue');
  }
}